<script type="text/x-template" id="right_drawer">
<v-container fluid>
    <v-layout row class="light--text">
        <h2>Find a beach for</h2>
    </v-layout>
        
    <v-layout row class="light--text">
        <v-select
        :items="activities"
        v-model="filters.activity"
        label="Activity"
        ></v-select>
    </v-layout>
        
    <v-layout row class="light--text">
        <v-select
            :items="location_types"
            v-model="filters.location_type"
            label="Location by the"
        ></v-select>
    </v-layout>
        
    <v-layout row class="light--text">
        <h3>Filters: </h3>
    </v-layout>

    <v-layout row class="light--text">
        <v-select
        :items="charge_free"
        v-model="filters.charge"
        label="Paid/Free"
        multiple
        ></v-select>
    </v-layout>
        
    <v-layout row class="light--text">
        <v-select
            :items="charge_free"
            v-model="filters.parking_type"
            label="Must include parking"
            multiple
        ></v-select>
    </v-layout>

    <v-layout row class="light--text">
        <v-select
            :items="amenities"
            v-model="filters.amenities"
            label="Must include amenities"
            clearable
        ></v-select>
    </v-layout>

    <v-layout row class="light--text">
        <v-select
            :items="food"
            v-model="filters.foot"
            label="Must include food"
            multiple
        ></v-select>
    </v-layout>

    <v-layout row class="light--text">
        <v-text-field
            v-model="filters.max_distance"
            label="Max distance km"
        ></v-text-field>
    </v-layout>

    <v-layout row class="light--text">
        <v-checkbox v-model="filters.disability_friendly" label="For people with disabilities" hide-details></v-checkbox>
    </v-layout>

    <v-layout row class="light--text">
        <v-checkbox v-model="filters.campsite" label="Campsite available" hide-details></v-checkbox>
    </v-layout>

    <v-layout row class="light--text">
        <v-checkbox v-model="filters.polluted" label="Include polluted places" hide-details></v-checkbox>
    </v-layout>

    <v-layout row class="light--text">
        <v-checkbox v-model="filters.official" label="Official swimming place" hide-details></v-checkbox>
    </v-layout>
</v-container>
</script>
<script src="javascripts/filter_panel.js"></script>