<head>

  <title>Plage Voyage</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico">

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href='https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css' rel="stylesheet" type="text/css">
  <link href="vuetify/dist/vuetify.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
  <style>
    .energy_value{
      display: inline-block;
      float: right;
      color: green
    }
    .map {
      min-height: 400px;
      height: 100%;
      width: 100%;
    }

    .guide-overlay {
      position: absolute;
      text-align: center;
      height: calc(100% - 53px);
      min-height: 400px;
      background-color: rgba(5, 36, 62, 0.8);
      color: white;
      top: 48px;
      left: 0;
      right: 0;
    }

    .leftpane-value {
      float: right;
    }
    
    .precise {
      color: rgb(48, 178, 147)
    }

    .list-dialog {
      margin-left: 0!important;
    }

    .list-drawer.navigation-drawer--open ~ .content .btn--floating.btn--left {
      margin-left: 400px;
    }

    .btn-second {
      margin-left: 55px;
    }

    .list-drawer.navigation-drawer--open ~ .content .btn--floating.btn--left.btn-second {
      margin-left: 455px;
    }
  </style>
</head>

<body style='display: none'>
  <v-app id="app">
    <v-navigation-drawer class="hidden-md-and-down list-drawer" width="400" :clipped="$vuetify.breakpoint.lgAndUp" v-model="leftDrawer" app>
      <poi-list></poi-list>
    </v-navigation-drawer>
  
    <v-navigation-drawer width="300" right :clipped="$vuetify.breakpoint.lgAndUp" v-model="rightDrawer" app>
      <filter-panel @filter="filter"></filter-panel>
    </v-navigation-drawer>
    
    <v-toolbar app fixed clipped-left clipped-right color="primary" dark>
      <v-dialog class="hidden-lg-and-up list-dialog" fullscreen hide-overlay v-model="listDialog" transition="dialog-bottom-transition"
        scrollable>
        <!-- <v-toolbar-side-icon slot="activator"></v-toolbar-side-icon> -->
        <v-btn icon slot="activator" color="primary" dark>
          <v-icon>menu</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar dark color="primary">
            <v-btn icon dark @click.native="listDialog = false">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>POI List</v-toolbar-title>
          </v-toolbar>
          <poi-list></poi-list>
        </v-card>
      </v-dialog>
      <v-toolbar-side-icon class="hidden-md-and-down" @click.stop="leftDrawer = !leftDrawer"></v-toolbar-side-icon>
      <v-toolbar-title  style="width: 500px" class="ml-0 pl-3">Plaž Vojaž</span>
      </v-toolbar-title>
      <v-text-field round append-icon="search" id="search-box" single-line hide-details class="hidden-sm-and-down"
        solo-inverted label="Search" v-model="searchText" v-on:keyup="search()"></v-text-field>
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>filter_list</v-icon>
      </v-btn>
      <v-menu
        v-model="searchResultsVisible"
        activator="#search-box"
      >
        <v-list style="margin-top:40px">
          <v-list-tile
            v-for="(item, index) in searchResults"
            :key="index"
            @click="gotoLocation(item.lat, item.lon)"
          >
            <v-list-tile-title>{{ item.display_name }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    
    <v-content>
      <v-container fluid fill-height pa-0>
          <v-layout column>
            <keep-alive>
              <router-view></router-view>
            </keep-alive>
          </v-layout>
      </v-container>
    </v-content>
  </v-app>

  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="vue/dist/vue.min.js"></script>
  <script src="vuetify/dist/vuetify.min.js"></script>
  <script src="vue-router/dist/vue-router.min.js"></script>
  <script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>
  <script>
    var EventBus = new Vue();
  </script>
  <% include map.html %>
  <% include filter_panel.html %>
  <% include poi_list.html %>
  <script src="javascripts/routes.js"></script>
  <script src="javascripts/app.js"></script>
</body>

</html>