<script type="text/x-template" id="map">
  <div style="height: 100%">
    <v-layout column align-left fill-height>
      <v-flex xs12 fill-height>
      <v-card height="100%">
        <div id="olmap" class="map">
        </div>
      </v-card>
      </v-flex>
    </v-layout>
    <v-btn fab small fixed bottom left @click="findMe()"><v-icon>my_location</v-icon></v-btn>
    <v-btn fab small fixed class="btn-second" bottom left @click="putPin()"><v-icon>place</v-icon></v-btn>
  </div>
</script>
<script src="javascripts/map.js"></script>