<script type="text/x-template" id="poi_list">
  <v-list two-line>   
    <template v-for="(poi, index) in pois">
        <v-divider inset :key="index"></v-divider>
        <v-list-tile avatar @click="expandPoi(poi)">
            <v-list-tile-content>
              {{ poi.title}} 
            </v-list-tile-title>
            <v-list-tile-sub-title>{{ poi.description || poi.type}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
    </v-template>
  </v-list>
</script>
<script src="javascripts/poi_list.js"></script>